@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    width: 100%;
    height: 480px;
}
.bg-primary{
    color:#E6533C;
}
.light-gray{
    color: rgba(255, 255, 255, 0.5);
}
body{
    background: rgb(0, 0, 0);
}
.btn-primary{
    color: white;
    background-color: #E6533C;
    padding: 8px 2rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
}

/* header part css starts here */
.header-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 1.8rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}

.nav-links li{
    margin-left: 2.6rem;
    color: white;
    font-size: 1rem;
}
.nav-links .list{
    margin-top: 0.5rem;
}
.banner{
    display: flex;
}
.banner-content h1{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 5rem;
    line-height: 120%; 
    margin-bottom: 1.6rem;
}
.banner-content h1 span{
    font-family: 'Miama', sans-serif;
    font-size: 6.5rem;
    font-weight:400 ;
}
.banner-content p{
    width: 48%;
    line-height: 24px;
    font-size:1rem;
    margin-bottom:1.3rem ;
}
.btn-secondary{
    color: white;
    background-color: black;
    padding: 8px 2rem;
    border:1px solid white;
    border-radius: 1.5rem;
    font-size: 1rem;
    margin-left: 10px;
}
.banner-image img{
    margin-top: 30px;
 height: 460px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.banner-card{
    position: relative;
}
.card-1{
    color: white;
    backdrop-filter: blur(20px);
 background: rgba(255, 255, 255, 0.1);
 border-radius: 10px;
 width: 160px;
 height: 80px;
 position: absolute;
 top: -360px;
 right: -80px;
}
.card-2{
    color: white;
    border-radius: 10px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
padding-left: 1.5rem;
padding-top: 0.7rem;
width: 160px;
 height: 80px;
 position: absolute;
 top: -130px;
 left: -100px;
}

.card-2 button{
    width: 1.7rem;
    height: 1.7rem;
    background-color: #E6533C;
    border-radius: 100%;
    border: none;
}
.card-1 h2{
    padding-left: 1.5rem;
padding-top: 0.9rem;
}
.card-1 h2,.card-2 span{
    color: white;
font-size: 1.6rem;
font-weight: 900;
padding-bottom: 0.3rem;
}
.card-1 p,.card-2 p{
   font-size: 13px;
   padding-left: 1.5rem;
}

/* header part css ends here */
.change-habit{
    width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
}
.change-habit-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.change-habit-content h2{
    color: white;
    margin-bottom: 0.9rem;
    font-size: 2rem;
font-weight: 900;
}

.change-habit-content p{
font-size: 14px;
margin-bottom: 4rem;
}
.change-habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: 0 auto;
    margin-left: 100px;
    
}
.change-habit-card img{
    width: 150px;
height: 150px;
border-radius: 100%;
}
.change-habit-card h5{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    text-align: center;
    margin-right: 4.1rem;
    margin-bottom: 1rem;
}
.change-habit-card p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-right: 4.5rem;
    margin-bottom: 7rem;
}
.extra-mile{
    width: 65%;
    height: 280px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.extra-mile-container{
 display: flex;
 justify-content: space-between;
}
.extra-mile-container .extra-mile-content{
    width: 50%;
    padding-left: 2rem;
    padding-top: 2.5rem;
}
.extra-mile-content h2{
    font-size: 2rem;
font-weight: 900;
color: white;
margin-bottom: 1rem;
}
.extra-mile-content p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}
.extra-mile-image img{
    /* display: block;
  margin-left: 55%;
  width: 40%;
  height: 95%; 
  padding-top: 2rem;
  border-radius: 5%; */
margin-top: 2rem;
width: 210px;
height: 230px;
margin-right: 20px;
border-radius: 10px;
object-fit: cover;
}
